%ul.navbar
  %li 
    = link_to("Home", "/")
  %li 
    = link_to("lipService", "/lipservice.html")
  %li
    = link_to("Contagion", "/contagion.html")
  %li 
    = link_to("Support", "/support.html")
  %li
    = link_to("Tutorials", "/howto/vpn.html")
  %li 
    = link_to("About", "/")
